@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.section {
  height: 100vh;
  width: 100%;
}
.header-one {
  background-color: cornflowerblue;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1rem;
}
.header-two {
  background-color: brown;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}
.header-three {
  background-color: hotpink;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}
