@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.section {
  height: 100vh;
  width: 100%;
}
.header-one {
  background-color: cornflowerblue;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1rem;
  position: sticky;
  top: 0;
}
.header-two {
  background-color: brown;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  position: sticky;
  top: 0;
}
.header-three {
  background-color: hotpink;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  position: sticky;
  top: 0;
}
#section-one {
  background-color: darkseagreen;
}
#section-two {
  background-color: darksalmon;
}
#section-three {
  background-color: lightblue;
}
.footer {
  background-color: black;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: plum;
}
.anchor:hover {
  border: 1px solid plum;
  border-radius: 10px;
}
.anchor:focus {
  border: 2px solid plum;
  border-radius: 10px;
}
.parent {
  position: relative;
}
.rocket {
  position: absolute;
  font-size: 2rem;
  background-color: black;
  padding: 0.8rem;
  border-radius: 15px;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 1%;
}
.heading {
  color: white;
  font-size: 2rem;
  padding: 0.7rem;
}
